<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Trails</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>Search Trails</h1>

    <form method="get">
        <label for="q">Search:</label>

        <input
            type="text"
            id="q"
            name="q"
            value="{{ query }}"
        >

        <button type="submit">Search</button>
    </form>

    {% if query %}
        <h2>Search Results</h2>
        <p>You searched for: {{ query }}</p>
    {% endif %}

</body>
</html>